<h1>投稿詳細</h1>
  
  <%= image_tag @post_image.user.get_profile_image(50,50) %>
  <%= @post_image.user.name %><br>
  <%= @post_image.created_at.strftime('%Y/%m/%d') %><br>
  
  <%= image_tag @post_image.get_image(20,20) %>


<h4>いいね</h4>
<%= @post_image.caption %>

<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントしてみましょう" %><br>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<h4>コメント一覧</h4>
<div>
  <p>コメント件数:<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
    <%= post_comment.comment %>
    <% if post_comment.user == current_user %>
     　<%= link_to "削除", post_image_post_comment_path(post_comment.post_image,post_comment), method: :delete %>
    <% end %>
    <hr>
  <% end %>
</div>



