#左側にプロフィール画像
<div>
  <p><%= @user.name %>&emsp;<%= "プロフィールを編集" %></p>
  <p><%= image_tag @user.get_profile_image(40,40) %></p>
  <p><%= @user.address %></p>
  <p>投稿数&emsp;<%= link_to "投稿する", new_post_image_path %></p>
  <p>質問数&emsp;質問する</p>
  <p>フォロー数</p>
  <p>フォロワー数</p>
</div>


